<div class="d-flex flex-column mt-5" data-controller="maps">
    <%= render "projects/show_components/floor_components/floor_buttons" %>
    <%= render "projects/show_components/floor_components/map" %>
</div>
