<div class="d-flex flex-column mt-5" data-controller="maps">
  <div>
    <%= render "projects/show_components/floor_components/plans" %>
  </div>
  <div class="d-flex">
    <%= render "projects/show_components/floor_components/floor_buttons" %>
    <%= render "projects/show_components/floor_components/map" %>
  </div>
</div>
