<div>
  <%= render "projects/show_components/floor_components/plans" %>
</div>
<div class="d-flex mt-5">
  <div class="d-flex flex-column me-4">
    <%= render "projects/show_components/floor_components/floor_buttons" %>
  </div>
  <%= render "projects/show_components/floor_components/map" %>
</div>
