<% if notice %>
  <div class="flash flash-success alert alert-dismissible fade show" role="alert">
    <span><strong>Congratulations ! </strong> <%= notice %></span>
    <a data-bs-dismiss="alert" aria-label="Close">
      <i class="fas fa-times"></i>
    </a>
  </div>
<% end %>

<% if alert %>
  <div class="flash flash-warning alert alert-dismissible fade show" role="alert">
    <span><strong>Attention ! </strong> <%= alert %></span>
    <a data-bs-dismiss="alert" aria-label="Close">
      <i class="fas fa-times"></i>
    </a>
  </div>
<% end %>
