<div class="header">
  <%= link_to root_path do %>
    <div class="logo">
      DEVELOMANAGER
    </div>
  <% end %>
  <div class="menu">
    <%= link_to new_user_session_path, class: "link" do %>
        <div class="title">Log in</div>
        <div class="bar"></div>
    <% end %>
    <%= link_to projects_path, class: "link" do %>
      <div class="title">Projects</div>
      <div class="bar"></div>
    <% end %>
  </div>
</div>
