<div class="header">
  <div class="logo">
    DEVELOMANAGER
  </div>
  <div class="menu">
    <a href="#" class="link">
      <div class="title">Sign up</div>
      <div class="bar"></div>
    </a>
    <a href="#" class="link">
      <div class="title">Log in</div>
      <div class="bar"></div>
    </a>
    <a href="#" class="link">
      <div class="title">Projects</div>
      <div class="bar"></div>
    </a>
  </div>
</div>
