<header class="text-center text-white d-flex masthead" style="background-image: url('https://d3kqdc25i4tl0t.cloudfront.net/articles/content/_379589_workspace.hero.jpg');">
    <div class="container my-auto">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <h1 class="text-uppercase"><strong>a construction development support app</strong></h1>
            </div>
        </div>
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <p class="text-faded mb-5">Have all your projects in one place, track how every team member is doing their work and add relevant notes to each of your projects&#39; stages.</p><a class="btn btn-primary btn-xl" role="button" href="#services">Sign up</a>
          </div>
        </div>

    </div>
</header>
