
<body class="bg-gradient-primary">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-9 col-lg-12 col-xl-10">
        <div class="card o-hidden border-0 my-5 orange-shadow">
          <div class="card-body p-0">
            <div class="row">
              <div class="p-5">
                <div class="text-center">
                  <h2>Create a new project </h2>
                </div>
                <div class="class=mb-3" >
                  <%= simple_form_for(@project) do |f| %>
                    <div class="form-inputs form-control-user">
                      <%= f.input :title %>
                      <%= f.submit "Create Project", class: "form-btn mt-3" %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
