<div class="container">
  <div class="row">
    <%= turbo_frame_tag "tasks_show", class: "col-sm-5" do %>
      <%= render "projects/show_components/task_component" %>
    <% end %>

    <div class="col-sm-7 d-flex flex-column" data-controller="maps">
      <%= render "projects/show_components/floors_component" %>
    </div>
  </div>
</div>
