<div class="container">
  <div class="row">
    <%= turbo_frame_tag "tasks_show", class: "col-sm-5" do %>
      <%= render "projects/show_components/task_component" %>
    <% end %>

    <div class="col-sm-7 d-flex flex-column" data-controller="maps">
      <%= render "projects/show_components/floors_component" %>
    </div>
  </div>
</div>


<script>

// Define stimulus
const stimulus = 'mousedown';

// Get the button container
const buttonContainer = document.getElementById('button-container');

// Add event listeners to each button
const buttons = document.querySelectorAll('.dotbutton');

let startX, startY, isDragging = false;

buttons.forEach(function(button) {
  button.addEventListener(stimulus, function(event) {
    isDragging = true;
    startX = event.clientX - button.offsetLeft;
    startY = event.clientY - button.offsetTop;
  });

  button.addEventListener('mousemove', function(event) {
    if (isDragging) {
      const newX = event.clientX - startX;
      const newY = event.clientY - startY;

      // Limit the movement of the button to the container
      const containerRect = buttonContainer.getBoundingClientRect();
      const buttonRect = button.getBoundingClientRect();

      const minX = 0 - buttonRect.left;
      const maxX = window.innerWidth - buttonRect.right;
      const minY = 0 - buttonRect.top;
      const maxY = window.innerHeight - buttonRect.bottom;

      const limitedX = Math.min(Math.max(newX, minX), maxX);
      const limitedY = Math.min(Math.max(newY, minY), maxY);

      button.style.left = limitedX + 'px';
      button.style.top = limitedY + 'px';
    }
  });

  button.addEventListener('mouseup', function(event) {
    isDragging = false;
  });
});

  </script>
