<div class="d-flex row align-items-center border-bottom mt-2">
  <div class="d-flex col" id="floor-master">
    <div class="plan-text">
      <h4><strong>FLOOR PLANS</strong></h4>
    </div>
    <%  Plan::STAGES.each do |stage| %>
      <button data-maps-target="stageBtn" type="button" class="plan-btn-stages" data-action="click->maps#changePlan" id="plan-<%= stage %>"> <%= stage.capitalize %> </button>
    <% end %>
  </div>
</div>
