<div class="d-flex row align-items-center border-bottom" data-controller="plans">
  <div class="d-flex col">
  <h4><strong>Floor Plans</strong></h4>
  </div>
  <div class="d-flex col">
    <%@project.floors.first.plans.each do |plan| %>
      <button type="button" class="plan-btn" data-action="click->plans#tooglePlan"> <%= plan.stage.capitalize %> </button>
    <% end %>
  </div>
</div>
