<div class="d-flex row align-items-center border-bottom" data-controller="plans">
  <div class="d-flex col">
  <h4>Floor Plans</h4>
  </div>
  <div class="d-flex col">
    <%  Plan::STAGES.each do |stage| %>
      <button type="button" class="plan-btn" data-action="click->maps#changePlan" id="plan-<%= stage %>"> <%= stage.capitalize %> </button>
    <% end %>
  </div>
</div>
