.plan-btn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #d98600;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: none;
  margin: 35px;

  // &:after {
  //   content: '';
  //   position: absolute;
  //   bottom: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   background-color: #d98600;
  //   border-radius: 10rem;
  //   z-index: -2;
  // }
  // &:before {
  //   content: '';
  //   position: absolute;
  //   bottom: 0;
  //   left: 0;
  //   width: 0%;
  //   height: 100%;
  //   background-color: darken(#d98600, 15%);
  //   transition: all .3s;
  //   border-radius: 10rem;
  //   z-index: -1;
  // }
  // &:hover {
  //   color: #fff;
  //   &:before {
  //     width: 100%;
  //   }
  // }
}

.plan-btn:hover {
  background: #d96d00;
  text-decoration: none;
}

.floor-btn:hover {
  background: #d96d00;
  text-decoration: none;
}

.plan-btn:active {
  background: #d96d00 !important;
  text-decoration: none;
}

.floor-btn:active {
  background: #d96d00 !important;
  text-decoration: none;
}

.floor-btn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #d98600;
  padding: 5px 13px 5px 13px;
  text-decoration: none;
  border: none;
  margin: 2px;
}

.floor-btn-minus {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #d98600;
  padding: 5px 16px 5px 16px;
  text-decoration: none;
  border: none;
  margin: 2px;
}

.border-bottom {
  border-bottom: 5px solid black;
}

.btn-form {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #d98600;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: none;
  margin: 35px;
  position: relative;

  &:after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #d98600;
    border-radius: 10rem;
    z-index: -2;
  }

  &:before {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: darken(#d98600, 15%);
    transition: all .3s;
    border-radius: 10rem;
    z-index: -1;
  }

  &:hover {
    &:before {
      width: 100%;
    }
  }
}

.form-btn {
  display: inline-block;
  padding: .75rem 1.25rem;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  background-color: #d98600;
  letter-spacing: .15rem;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  border: none;
}

.form-btn:hover {
  background: #d96d00;
  text-decoration: none;
  transform: scale(0.9);
  transition: all .3s ease-in-out;
}


.delete-btn {
  position: relative;
  display: inline-block;
  margin-right: 10px;
}

.delete-btn i {
  position: absolute;
  top: 0;
  left: -30px;
  width: 30px;
  height: 30px;
  background-color: #ff0000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: transform 0.2s ease-out, opacity 0.2s ease-out;
}

.delete-btn:hover i {
  opacity: 1;
  transform: translateX(30px);
}

.dotbutton {
  position: absolute;
  height: 40px;
  width: 80px;
  border: 4px solid #B20000;
  background-color: #FF0000;
  color: #FFFFFF;
  box-shadow: 5px 5px 5px #888;
  text-align: center;
  border-radius: 6px;
  font-weight: bold;
  line-height: 35px;
  margin: 0 auto;
}

.drag-button a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 135%;
  position: relative;
}

.ddrag-center {
  position: relative;
  max-width: 600px;
}
