
.header {
  width: 100%;
  border-bottom: 1px solid black;
  text-align: right;
  position: relative;
  display: flex;
  justify-content: flex-end;

  .logo {
    color: #0f0f0f;
    position: absolute;
    top: 28;
    left: 0;
    font-size: 32px;
    font-weight: 100;
    padding: 9px;
    border-right: 1px solid black;
  }
  .logo a {
    text-decoration: none;
    color: #0f0f0f;
    font-weight: 200;
  }
}

@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 650px;
    padding-top: 0;
    padding-bottom: 0;
  }
}

header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
  background-position: center center;
  background-size: cover;
}

.text-white {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) !important;
}

.text-center {
  text-align: center !important;
}

.d-flex {
  display: flex !important;
}

::selection {
  color: #ffffff;
  background: #212529;
  text-shadow: none;
}

.my-auto p {
  font-size: 32px;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.my-auto {
  background-color: rgba(255, 162, 0, 0.85);

  padding-bottom: 30px;
  padding-top: 30px;
}
.transparent-white-btn {
  transition: all .5s ease;
  color: #fff;
  border: 3px solid white;
  font-family:'Montserrat', sans-serif;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  font-size: 17px;
  background-color : transparent;
  padding: 10px;
  outline: none;
  border-radius: 4px;
}
.transparent-white-btn:hover {
  color: #001F3F;
  background-color: #fff;
}
