@import url(https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800);

html, body {
  font-family: 'Dosis';
  font-weight: 300;
}

.menu {
  display: flex;
}

.dropdown-menu {
  text-decoration: none;
  text-transform: uppercase;
  color: #0f0f0f;
  font-weight: 300;
  font-size: 16px;
  background-color: rgba(255, 162, 0, 0.85);
}

.dropdown-item {
  text-decoration: none;
  color: #0f0f0f;
  font-weight: 300;
  font-size: 16px;
  background-color: rgba(255, 162, 0, 0.85);
}
.dropdown-item p {
  text-decoration: none;
  color: #0f0f0f;
  font-weight: 300;
  font-size: 16px;
  background-color: rgba(255, 162, 0, 0.85);
}

.dropdown-item p :hover {
  background-color: rgba(255, 206, 121, 0.85);
}
.dropdown-menu :hover {
  background-color: rgba(255, 206, 121, 0.85);
}


.link {
  display: inline-block;
  padding: 15px 0;
  margin: 15px 25px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  color: #0f0f0f;
  font-weight: 800;
  font-size: 24px;
  border: none;

  .bar {
    width: 100%;
    // display: inline-block;
    border-bottom: 5px solid black;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: all 300ms;
  }

  &:hover {
    color: #0f0f0f !important;
    .bar {
      opacity: 1;
      bottom: 5px;
    }
  }
}
