.card {
  width: 100%;
  margin-bottom: 20px;
}
.card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}


#floor-master {
  justify-content: space-between;
  padding-bottom: 10px;
  padding-right: 33px;
}

.plan-text {
  margin-top: 10px;
}

.container_plan_stages {
max-height: 60px;
padding: 5px;
}
