body {
  background-color: darkslategray;
  //background-color: aliceblue;

  color: darkslategrey;
}

.container{
  background-color: darkslategray;
}

#plans-div {
  background-color: antiquewhite;
  border-left: 5px dotted darkslategray;
  border-bottom: 5px dotted darkslategray;
  border-right: 5px dotted darkslategray;
  padding-left: 24px;
  //padding-right: 24px;

  height: 120vh;
}


.form-inline {
  align-self: right;
}


.tasks_cards {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 10px 10px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-top: 12px;
  margin-bottom: 10px;
  justify-content: space-between;
  border-radius: 5px;


}

.tasks_cards h3 {
  font-size: 18px;
  font-weight: bold;
  color: darkslategrey;
}

.tasks_cards p {
  font-size: 14px;
  line-height: normal;
  margin-bottom: 0;
  margin-top: 3px;
  color: darkslategray;
}


.tags {
font-size: 14px;
font-weight: bold;
margin-right: 15px;
color: grey;
width: 50px;
}

#scroll{
  overflow-y: scroll;
  height: 95vh;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  margin-top: 66px;
  margin-bottom: 15px;
}

#scroll::-webkit-scrollbar{
  display: none;
}

.task_box {
  background-color: transparent;
  height: 400px;
  margin-top: 15px;
}

.task_header {
  margin-top: 15px;
}

.task_action_btn {
display: flex;
justify-content: space-between;
vertical-align: top;
width: 88%;
margin-left: 30px;
font-size: 45px;
margin-top: -23px;
}

.filler {
  height: 50px;

}

.tasks_tags h4{
font-size: medium;
color: grey;
font-weight: bold;
margin-top: 15px;
}

.task_content h5{
line-height: 1.5;
color: darkslategray;
margin-top: 50px;
font-size: 18px;
}

#add_task {
  justify-content: space-between;
}

#scroll_task{
  overflow-y: scroll;
  height: 25vh;
  padding: 25px;
  height: 500px;
  margin-top: 18px;
}

#scroll_task::-webkit-scrollbar{
  display: none;
}

.recommendation-list {
  padding-left: 20px;
  margin-top: 5px;
  margin-bottom: 0;
}

.recommendation-list li {
  margin-bottom: 5px;
}

.recommendation-card {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  padding: 25px;
  margin-top: 18px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-height: 50%;
  overflow-y: auto;
}

#scroll_task_recommendation {
  padding: 0;
  margin-top: 0;
}

#scroll_task_recommendation::-webkit-scrollbar {
  width: 8px;
  background-color: #F5F5F5;
}

#scroll_task_recommendation::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #e0e0e0;
}

#scroll_task_recommendation::-webkit-scrollbar-track {
  background-color: #F5F5F5;
}

.indivudual_task_view {
  font-size: 14px;
  color: black;
  // line-height: 1.4;
  margin-top: 3px;
}

.task {
  height: 500px;

}

.task h2 {
  margin-top: 15px;
  font-weight: bold;
}


.task h4 {
  color: grey;
}

.tasks_cards_ind {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 10px 10px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 10px;
  justify-content: space-between;
  border-radius: 5px;
}

.tasks_cards_ind h2 {
  font-size: 26px;
  font-weight: bold;
  color: black;
  margin: 0;
  padding-left: 10px ;
  margin-top: 20px;
  vertical-align: text-top;
}

.tasks_cards_ind p {
  font-size: 14px;
  color: black;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 5px;
}

#title-description {
  margin-right: 5px;
}

#scroll_task_ind{
  overflow-y: scroll;
  height: 120px;
  padding: 5px;
  width: 375px;

}

#scroll_task_ind::-webkit-scrollbar{
  display: none;
}

#button-container {
  position: relative;
  width: 500px;
  height: 500px;
  margin: 5px auto;
}


.form-position {
  position: absolute;
  left: 610px;
  top: 610px;
  color: antiquewhite;
  font-size: 10px;
}

#parent {
  position: relative;
}

.trick-div {
  position: absolute;
  left: 610px;
  top: 123px;
  width: 500px;
  height: 500px;
}

.buffer-div {
  height: 50px;
}


.form-control {
  margin-top: 20px;
  margin-bottom: 20px;
}

.form-label {
  font-size: 1.75rem;
  font-weight: bolder;
}

.btn-user-tasks {
  display: inline-block !important;
  padding: .75rem 1.25rem !important;
  border-radius: 10rem !important;
  color: #fff !important;
  text-transform: uppercase !important;
  font-size: 1rem !important;
  background-color: #d96d00 !important;
  letter-spacing: .15rem !important;
  transition: all .3s !important;
  position: relative !important;
  overflow: hidden !important;
  z-index: 1 !important;
  border: none !important;
}
