.tasks_cards {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: space-between;

}

.tasks_cards h3 {
  font-size: 12px;
  font-weight: bold;
  margin: 0;
  padding-left: 5px ;
  margin-top: 10px;
}
.tasks_cards p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 10px;
}

#tags {
font-size: 12px;
margin-right: 30px;
}

#scroll{
  overflow: scroll;
  height: 80vh;
}

#scroll::-webkit-scrollbar{
  display: none;
}